@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root definition for light mode with default black text on a gradient background from light gray to white */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text by default */
  --background-start-rgb: 214, 219, 220; /* Light gray start */
  --background-end-rgb: 255, 255, 255; /* Pure white end */
}

/* Overrides for dark mode, typically with white text on a darker background */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text for dark mode */
    --background-start-rgb: 20, 20, 20; /* Dark gray start for a more typical dark mode */
    --background-end-rgb: 40, 40, 40; /* Slightly lighter gray end */
  }
}

/* Applying the defined CSS variables to the body for color and background */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)), /* Ensures the gradient starts with a solid color */
    rgb(var(--background-end-rgb))
  );
}

/* Additional utility layer for common text styling */
@layer utilities {
  .text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
