/* ProjectCard.module.css */
.cardContainer {
    background-color: #181818; /* base background */
}

.imageContainer {
    height: 13rem; /* equivalent to h-52 */
    background-color: #D6BCFA; /* purple-300 */
    border-radius: 1rem; /* rounded-t-xl */
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

.content {
    padding: 1rem; /* p-4 */
}

.title {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
    color: white;
}

.description {
    color: #ADB7BE;
}

.readMoreButton {
    color: white;
    margin-top: 0.5rem; /* mt-2 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0);
    transition: background-color 0.5s ease-in-out;
}

.overlayVisible {
    display: flex;
    background-color: rgba(24, 24, 24, 0.8);
}

.linkButton {
    height: 3.5rem; /* h-14 */
    width: 3.5rem; /* w-14 */
    margin-right: 0.5rem; /* mr-2 */
    border: 2px solid #ADB7BE;
    border-radius: 9999px; /* rounded-full */
}

.linkButton:hover {
    border-color: white;
}

.linkIcon {
    height: 2.5rem; /* h-10 */
    width: 2.5rem; /* w-10 */
    margin: 0.5rem; /* m-2 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #ADB7BE;
}

.linkIcon:hover {
    color: white;
}

.bottomContent {
    background-color: #181818;
    color: white;
    border-radius: 1rem; /* rounded-b-xl */
    margin-top: 0.75rem; /* mt-3 */
    padding: 1.5rem 1rem; /* py-6 px-4 */
}
